<p>
  <span id='ins-inline' class='link'>Insert inline</span>
  <span id='ins-block' class='link'>Insert block</span>
</p>
<p>
  <input type='search' id='search' placeholder="Search..." ng-model='filterTerm' />
</p>
<div id='manual'>
  <div ng-repeat='group in groups' ng-init='isVisible = $first'>
    <h5 ng-show="(isFiltering() && groupMatch(filterTerm, group)) || (!isFiltering() && true)"
        ng-class="{highlight: isFiltering() && filterMatch(filterTerm, group.name)}"
        ng-click="isVisible = !isVisible">
      {{group.name}}</h5>
    <ul ng-show='(isFiltering() && groupMatch(filterTerm, group)) || (!isFiltering() && isVisible)'>
      <li ng-repeat="symbol in group.symbols" ng-class='{highlight: isFiltering() && filterMatch(filterTerm, symbol.code)}'>
        <span title='{{symbol.code}}' ng-click="insertSymbol(' ' + symbol.code + ' ')">${{symbol.code}}$</span>
      </li>
    </ul>
  </div>
</div>
