<p>
  <span id='ins-inline' class='link'>Insert inline</span>
  <span id='ins-block' class='link'>Insert block</span>
</p>
<div id='manual'>
  <div ng-repeat='group in groups' ng-init='isVisible = $first'>
    <h5 ng-click="isVisible = !isVisible">{{group.name}}</h5>
    <ul ng-show='isVisible'>
      <li ng-repeat="symbol in group.symbols">
        <span ng-click="insertSymbol(' ' + symbol.code + ' ')">${{symbol.code}}$</span>
      </li>
    </ul>
  </div>
</div>
