      <div>
			 <span id='ins-inline' class='link'>Insert inline</span>
			 <span id='ins-block' class='link'>Insert block</span>
      </div>
      <br/> 
			<div id='manual'>
				<h4>
        Greek Letters
    </h4>
    <ul>
    <li>
      <textarea>\alpha</textarea>
      <span>$\alpha$</span>
    </li>

    <li>
      <textarea>\beta</textarea>
      <span>$\beta$</span>
    </li>

    <li>
      <textarea>\gamma</textarea>
      <span>$\gamma$</span>
    </li>

    <li>
      <textarea>\delta</textarea>
      <span>$\delta$</span>
    </li>

    <li>
      <textarea>\epsilon</textarea>
      <span>$\epsilon$</span>
    </li>

    <li>
      <textarea>\kappa</textarea>
      <span>$\kappa$</span>
    </li>

    <li>
      <textarea>\theta</textarea>
      <span>$\theta$</span>
    </li>

    <li>
      <textarea>\lambda</textarea>
      <span>$\lambda$</span>
    </li>

    <li>
      <textarea>\mu</textarea>
      <span>$\mu$</span>
    </li>

    <li>
      <textarea>\xi</textarea>
      <span>$\xi$</span>
    </li>

    <li>
      <textarea>\pi</textarea>
      <span>$\pi$</span>
    </li>

    <li>
      <textarea>\sigma</textarea>
      <span>$\sigma$</span>
    </li>

    <li>
      <textarea>\phi</textarea>
      <span>$\phi$</span>
    </li>

    <li>
      <textarea>\chi</textarea>
      <span>$\chi$</span>
    </li>

    <li>
      <textarea>\psi</textarea>
      <span>$\psi$</span>
    </li>

    <li>
      <textarea>\omega</textarea>
      <span>$\omega$</span>
    </li>

    <li>
      <textarea>\Gamma</textarea>
      <span>$\Gamma$</span>
    </li>

    <li>
      <textarea>\Delta</textarea>
      <span>$\Delta$</span>
    </li>

    <li>
      <textarea>\Sigma</textarea>
      <span>$\Sigma$</span>
    </li>

    <li>
      <textarea>\Phi</textarea>
      <span>$\Phi$</span>
    </li>

    <li>
      <textarea>\Psi</textarea>
      <span>$\Psi$</span>
    </li>

    <li>
      <textarea>\Omega</textarea>
      <span>$\Omega$</span>
    </li>
</ul>
    <h4>
        Types of Numbers
    </h4>
<ul>
    <li>
      <textarea>\mathbb{N}</textarea>
      <span>$\mathbb{N}$</span>
    </li>

    <li>
      <textarea>\mathbb{Z}</textarea>
      <span>$\mathbb{Z}$</span>
    </li>

    <li>
      <textarea>\mathbb{Q}</textarea>
      <span>$\mathbb{Q}$</span>
    </li>

    <li>
      <textarea>\mathbb{R}</textarea>
      <span>$\mathbb{R}$</span>
    </li>

    <li>
      <textarea>\mathbb{C}</textarea>
      <span>$\mathbb{C}$</span>
    </li>
</ul>

<h4>
        Powers and Indices
    </h4>
<ul>
    <li>
      <textarea>x^{n}</textarea>
      <span>$x^{n}$</span>
    </li>

    <li>
      <textarea>x_{k}</textarea>
      <span>$x_{k}$</span>
    </li>

    <li>
      <textarea>x_{k}^{n}</textarea>
      <span>$x_{k}^{n}$</span>
    </li>
</ul>


    <h4>
        Brackets
    </h4>
<ul>

    <li>
      <textarea>\left( x \right)</textarea>
      <span>$\left( x \right)$</span>
    </li>

    <li>
      <textarea>\left| x \right|</textarea>
      <span>$\left| x \right|$</span>
    </li>

    <li>
      <textarea>\left[ x \right]</textarea>
      <span>$\left[ x \right]$</span>
    </li>

    <li>
      <textarea>\left\{ x \right\}</textarea>
      <span>$\left\{ x \right\}$</span>
    </li>
</ul>

    <h4>
        Common Functions
    </h4>
<ul>

    <li>
      <textarea>\sqrt{x}</textarea>
      <span>$\sqrt{x}$</span>
    </li>

    <li>
      <textarea>\sqrt[n]{x}</textarea>
      <span>$\sqrt[n]{x}$</span>
    </li>

    <li>
      <textarea>e^{x}</textarea>
      <span>$e^{x}$</span>
    </li>

    <li>
      <textarea>\exp x</textarea>
      <span>$\exp x$</span>
    </li>

    <li>
      <textarea>\log_{a} b</textarea>
      <span>$\log_{a} b$</span>
    </li>

    <li>
      <textarea>\log x</textarea>
      <span>$\log x$</span>
    </li>

    <li>
      <textarea>\lg x</textarea>
      <span>$\lg x$</span>
    </li>

    <li>
      <textarea>\ln x</textarea>
      <span>$\ln x$</span>
    </li>

    <li>
      <textarea>\sin x</textarea>
      <span>$\sin x$</span>
    </li>

    <li>
      <textarea>\cos x</textarea>
      <span>$\cos x$</span>
    </li>

    <li>
      <textarea>\tan x</textarea>
      <span>$\tan x$</span>
    </li>

    <li>
      <textarea>\cot x</textarea>
      <span>$\cot x$</span>
    </li>

    <li>
      <textarea>\sec x</textarea>
      <span>$\sec x$</span>
    </li>

    <li>
      <textarea>\csc x</textarea>
      <span>$\csc x$</span>
    </li>

    <li>
      <textarea>\arcsin</textarea>
      <span>$\arcsin$ </span>
    </li>

    <li>
      <textarea>\arccos</textarea>
      <span>$\arccos$</span>
    </li>

    <li>
      <textarea>\sinh</textarea>
      <span>$\sinh$</span>
    </li>

    <li>
      <textarea>\cosh</textarea>
      <span>$\cosh$</span>
    </li>
</ul>

    <h4>
      Sums and Products
    </h4>

<ul>

    <li>
      <textarea>\sum_{i=1}^{n} x_{i}</textarea>
      <span>$\sum_{i=1}^{n} x_{i}$</span>
    </li>

    <li>
      <textarea>\sum_{i=1}^{\infty} x_{i}</textarea>
      <span>$\sum_{i=1}^{\infty} x_{i}$</span>
    </li>

    <li>
      <textarea>\prod_{i=1}^{n} x_{i}</textarea>
      <span>$\prod_{i=1}^{n} x_{i}$</span>
    </li>

    <li>
      <textarea>\prod_{i=1}^{\infty} x_{i}</textarea>
      <span>$\prod_{i=1}^{\infty} x_{i}$</span>
    </li>

    <li>
      <textarea>x_1 + x_2 + x_3 + \ldots + x_n</textarea>
      <span>$x_1 + x_2 + x_3 + \ldots + x_n$</span>
    </li>

</ul>

    <h4>
      Lim, Inf, Sup and Del
    </h4>
<ul>
    <li>
      <textarea>\infty</textarea>
      <span>$\infty$</span>
    </li>

    <li>
      <textarea>x \to \infty</textarea>
      <span>$x \to \infty$</span>
    </li>

    <li>
      <textarea>\lim_{x \to \infty} f(x)</textarea>
      <span>$\lim_{x \to \infty} f(x)$</span>
    </li>

    <li>
      <textarea>\inf_{x \in X} f(x)</textarea>
      <span>$\inf_{x \in X} f(x)$</span>
    </li>

    <li>
      <textarea>\sup_{x \in X} f(x)</textarea>
      <span>$\sup_{x \in X} f(x)$</span>
    </li>

    <li>
      <textarea>\nabla</textarea>
      <span>$\nabla$</span>
    </li>  

    <li>
      <textarea>\nabla^2</textarea>
      <span>$\nabla^2$</span>
    </li>    

    <li>
      <textarea>\nabla \cdot z</textarea>
      <span>$\nabla \cdot z$</span>
    </li>

    <li>
      <textarea>\nabla \times z</textarea>
      <span>$\nabla \times z$</span>
    </li>
</ul>

    <h4>
      Derivatives
    </h4>

<ul>

    <li>
      <textarea>\frac{dy}{dx}</textarea>
      <span>$\frac{dy}{dx}$</span>
    </li>

     <li>
      <textarea>\frac{\partial z}{\partial x}</textarea>
      <span>$\frac{\partial z}{\partial x}$</span>
    </li>



    <li>
      <textarea>\frac{d^2 y}{dx^2}</textarea>
      <span>$\frac{d^2 y}{dx^2}$</span>
    </li>

    <li>
      <textarea>\frac{\partial^2 z}{\partial x^2}</textarea>
      <span>$\frac{\partial^2 z}{\partial x^2}$</span>
    </li>

    
    

</ul>
    <h4>
      Integrals
    </h4>
<ul>
    <li>
      <textarea>\int_{a}^{b} f(x) \, dx</textarea>
      <span>$\int_{a}^{b} f(x) \, dx$</span>
    </li>

    <li>
      <textarea>\int_{-\infty}^{b} f(x) \, dx</textarea>
      <span>$\int_{-\infty}^{b} f(x) \, dx$</span>
    </li>

    <li>
      <textarea>\int_{a}^{\infty} f(x) \, dx</textarea>
      <span>$\int_{a}^{\infty} f(x) \, dx$</span>
    </li>

    <li>
      <textarea>\int_{-\infty}^{\infty} f(x) \, dx</textarea>
      <span>$\int_{-\infty}^{\infty} f(x) \, dx$</span>
    </li>

    <li>
      <textarea>\int_{a}^{b} \! \int_{a}^{b} f(x,y) \,dx\,dy</textarea>
      <span>$\int_{a}^{b} \! \int_{a}^{b} f(x,y) \,dx\,dy$</span>
    </li>

    <li>
      <textarea>\int \!\!\! \int_D f(x,y) \, dx \, dy</textarea>
      <span>$\int \!\!\! \int_D f(x,y) \, dx \, dy$</span>
    </li>

    <li>
      <textarea>\int \!\!\! \int \!\!\! \int_{D} f(x,y,z) \, dx \, dy \, dz</textarea>
      <span>$\int \!\!\! \int \!\!\! \int_{D} f(x,y,z) \, dx \, dy \, dz$</span>
    </li>

    
</ul>

    <h4>
        Binary Operations
    </h4>
<ul>
    <li>
      <textarea>a + b</textarea>
      <span>$a + b$</span>
    </li>

    <li>
      <textarea>a - b</textarea>
      <span>$a - b$</span>
    </li>


    <li>
      <textarea>a \pm b</textarea>
      <span>$a \pm b$</span>
    </li>

    <li>
      <textarea>a \times b</textarea>
      <span>$a \times b$</span>
    </li>

    <li>
      <textarea>a \cdot b</textarea>
      <span>$a \cdot b$</span>
    </li>

    <li>
      <textarea>a \div b</textarea>
      <span>$a \div b$</span>
    </li>

    <li>
      <textarea>a \oplus b</textarea>
      <span>$a \oplus b$</span>
    </li>

    <li>
      <textarea>a \ominus b</textarea>
      <span>$a \ominus b$</span>
    </li>


    <li>
      <textarea>a \odot b</textarea>
      <span>$a \odot b$</span>
    </li>

    <li>
      <textarea>a \otimes b</textarea>
      <span>$a \otimes b$</span>
    </li>

    <li>
      <textarea>\binom{a}{b}</textarea>
      <span>$\binom{a}{b}$</span>
    </li>

    <li>
      <textarea>\frac{a}{b}</textarea>
      <span>$\frac{a}{b}$</span>
    </li>

</ul>
    <h4>
        Relations
    </h4>
<ul>
    <li>
      <textarea>a = b</textarea>
      <span>$a = b$</span>
    </li>

    <li>
      <textarea>a \neq b</textarea>
      <span>$a \neq b$</span>
    </li>

    <li>
      <textarea>a \equiv b</textarea>
      <span>$a \equiv b$</span>
    </li>

    <li>
      <textarea>a \simeq b</textarea>
      <span>$a \simeq b$</span>
    </li>

    <li>
      <textarea>a \approx b</textarea>
      <span>$a \approx b$</span>
    </li>

    <li>
      <textarea>a < b</textarea>
      <span>$a < b$</span>
    </li>

    <li>
      <textarea>a > b</textarea>
      <span>$a > b$</span>
    </li>

    <li>
      <textarea>a \le b</textarea>
      <span>$a \le b$</span>
    </li>

    <li>
      <textarea>a \ge b</textarea>
      <span>$a \ge b$</span>
    </li>

    <li>
      <textarea>a \sim b</textarea>
      <span>$a \sim b$</span>
    </li>

    <li>
      <textarea>a \perp b</textarea>
      <span>$a \perp b$</span>
    </li>

    <li>
      <textarea>a \parallel b</textarea>
      <span>$a \parallel b$</span>
    </li>
</ul>
    
    

<h4>
        Sets
    </h4> 
<ul>
    <li>
      <textarea>a \cap b</textarea>
      <span>$a \cap b$</soan>
    </li>

    <li>
      <textarea>a \cup b</textarea>
      <span>$a \cup b$</span>
    </li>

    <li>
      <textarea>\emptyset</textarea>
      <span>$\emptyset$</span>
    </li>

    <li>
      <textarea>a \in b</textarea>
      <span>$a \in b$</span>
    </li>

    <li>
      <textarea>a \notin b</textarea>
      <span>$a \notin b$</span>
    </li>

    <li>
      <textarea>a \subset b</textarea>
      <span>$a \subset b$</span>
    </li>

    <li>
      <textarea>a \not \subset b</textarea>
      <span>$a \not \subset b$</span>
    </li>

    <li>
      <textarea>a \subseteq b</textarea>
      <span>$a \subseteq b$ </span>
    </li>

    <li>
      <textarea>a \not \subseteq b</textarea>
      <span>$a \not \subseteq b$ </span>
    </li>
</ul>
    <h4>
        Logic
    </h4>
<ul>
    <li>
      <textarea>\forall x</textarea>
      <span>$\forall x$</span>
    </li>

    <li>
      <textarea>\exists x</textarea>
      <span>$\exists x$</span>
    </li>

    <li>
      <textarea>\nexists x</textarea>
      <span>$\nexists x$</span>
    </li>

    <li>
      <textarea>\neg</textarea>
      <span>$\neg$</span>
    </li>

    <li>
      <textarea>\land</textarea>
      <span>$\land$</span>
    </li>

    <li>
      <textarea>\lor</textarea>
      <span>$\lor$</span>
    </li>

    <li>
      <textarea>\rightarrow</textarea>
      <span>$\rightarrow$</span>
    </li>

    <li>
      <textarea>\Rightarrow</textarea>
      <span>$\Rightarrow$</span>
    </li>

    <li>
      <textarea>\leftrightarrow</textarea>
      <span>$\leftrightarrow$</span>
    </li>

    <li>
      <textarea>\Leftrightarrow</textarea>
      <span>$\Leftrightarrow$</span>
    </li>

    <li>
      <textarea>\iff</textarea>
      <span>$\iff$</span>
    </li>

</ul>

    <h4>
        Aligned Equations
    </h4>
<ul>
    <li>
      <textarea>\begin{align*}
a & = 2 \times 3 + 1 \\
   & = 6 + 1 \\
   & = 7
\end{align*}</textarea>
      <span>$\begin{align*}
a & = 2 \times 3 + 1 \\ 
& = 6 + 1 \\
& = 7
        \end{align*}$
      </span>
    </li>

    <li>
      <textarea>\begin{align*} 
a + a & = b + b \\ 
2a     & = 2b \\
a       & =b
\end{align*}</textarea>
      <span>
        $\begin{align*} 
        a + a & = b + b \\ 
        2a     & = 2b \\
        a       & = b
        \end{align*}$
      </span>
    </li>
</ul>

    <h4>
        Piecewise Function
    </h4>
<ul>
    <li>
      <textarea>f(x) = 
\begin{cases} 
1                           & \text {if $x=1$} \\
1+x+x^2+\cdots   & \text{if $x = 0$} \\ 
\dfrac{1}{1-x}        & \text{if $x = -1$} \\
\text{undefined}    & \text{otherwise} \\  
\end{cases}</textarea>
      <span>
        $f(x) = 
        \begin{cases} 
        1                & \text {if $x=1$} \\
        1+x+x^2+\cdots   & \text{if $x = 0$} \\ 
        \dfrac{1}{1-x}   & \text{if $x = -1$} \\
        \text{undefined} & \text{otherwise} \\  
        \end{cases}$
      </span>
    </li>
</ul>
    
    <h4>
        Vectors
    </h4>
<ul>

    <li>
      <textarea>\vec{r}</textarea>
      <span>$\vec{r}$</span>
    </li>

    <li>
      <textarea>\mathbf{r}</textarea>
      <span>$\mathbf{r}$</span>
    </li>

    <li>
      <textarea>f(\vec{r},t)</textarea>
      <span>$f(\vec{r},t)$</span>
    </li>

    <li>
      <textarea>f(\mathbf{r},t)</textarea>
      <span>$f(\mathbf{r},t)$</span>
    </li>

</ul>

    <h4>
        Matrices
    </h4>
<ul>

    <li>
      <textarea>\left|\begin{matrix} 
a & b \\ 
c & d
\end{matrix}\right|</textarea>
      <span>
        $\left|\begin{matrix} 
        a & b \\ 
        c & d
        \end{matrix}\right|$
      </span>
    </li>

    <li>
      <textarea>\begin{pmatrix} 
a & b \\ 
c & d
\end{pmatrix}</textarea>
      <span>
      $\begin{pmatrix} 
      a & b \\ 
      c & d
      \end{pmatrix}$
      </span>
    </li>

    <li>
      <textarea>\left[\begin{matrix} 
a & b \\ 
c & d
\end{matrix}\right]</textarea>
      <span>
      $\left[\begin{matrix} 
      a & b \\ 
      c & d
      \end{matrix}\right]$
      </span>
    </li>

    
    <li>
      <textarea>\left\{\begin{matrix} 
a & b \\ 
c & d
\end{matrix}\right\}</textarea>
      <span>
        $\left\{\begin{matrix} 
        a & b \\ 
        c & d
        \end{matrix}\right\}$
      </span>
    </li>
    
    <li>
      <textarea>\begin{pmatrix} 
a & b & c \\ 
d & e & f \\ 
g & h & i
\end{pmatrix}</textarea>
      <span>
        $\begin{pmatrix} 
        a & b & c \\ 
        d & e & f \\ 
        g & h & i
        \end{pmatrix}$
      </span>
    </li>

    <li>
      <textarea>\left|\begin{matrix} 
a & b & c \\ 
d & e & f \\ 
g & h & i
\end{matrix}\right|</textarea>
      <span>
        $\left|\begin{matrix} 
        a & b & c \\ 
        d & e & f \\ 
        g & h & i
        \end{matrix}\right|$
      </span>
    </li>
    

    <li>
      <textarea>\left[\begin{matrix} 
a & b & c \\ 
d & e & f \\ 
g & h & i
\end{matrix}\right]</textarea>
      <span>
        $\left[\begin{matrix} 
        a & b & c \\ 
        d & e & f \\ 
        g & h & i
        \end{matrix}\right]$
      </span>
    </li>

    <li>
      <textarea>\left\{\begin{matrix} 
a & b & c \\ 
d & e & f \\ 
g & h & i
\end{matrix}\right\}</textarea>
      <span>
        $\left\{\begin{matrix} 
        a & b & c \\ 
        d & e & f \\ 
        g & h & i
        \end{matrix}\right\}$
      </span>
    </li>
  
    <li>
      <textarea>\begin{pmatrix}
a_{1,1} & a_{1,2} & \cdots & a_{1,n} \\
a_{2,1} & a_{2,2} & \cdots & a_{2,n} \\
\vdots  & \vdots  & \ddots & \vdots  \\
a_{m,1} & a_{m,2} & \cdots & a_{m,n}
\end{pmatrix}</textarea>
      <span>
        $\begin{pmatrix}
        a_{1,1} & a_{1,2} & \cdots & a_{1,n} \\
        a_{2,1} & a_{2,2} & \cdots & a_{2,n} \\
        \vdots  & \vdots  & \ddots & \vdots  \\
        a_{m,1} & a_{m,2} & \cdots & a_{m,n}
        \end{pmatrix}$
      </span>
    </li>
</ul>
    <h4>
      Table
    </h4>

<ul>

    <li>
      <textarea>\begin{array}{|c|c|c|}
\hline
\text{Product}   & \text{Price} & \text{Qty} \\
\hline
\text{A}            & 1               & 1 \\
\hline
\text{B}            & 1               & 1 \\
\hline
\end{array}</textarea>
      <span>$\begin{array}{|c|c|c|}
\hline        
\text{Product}   & \text{Price} & \text{Qty} \\
\hline
\text{A}            & 1               & 1 \\
\hline
\text{B}            & 1               & 1 \\
\hline
\end{array}$</span>
    </li>

</ul>


			</div>					
