<div class='container'>
  <div class='row col-md-12'>
    <ol class="breadcrumb">
      <li><%= link_to "Manage Notes", manage_path %> </li>
      <li class="active">Edit Math Note</li>
    </ol>
  </div>
</div>

<%= render "form" %>