<script src="http://cdn.jquerytools.org/1.2.7/all/jquery.tools.min.js"></script>
<%= javascript_include_tag "note_new" %>

<br/>
<div class='alert-message alert-info' style="width:800px; margin:0 auto">
	TexPaste is a simple way to create and share Latex-based math notes with others.
</div>
<br/>

<form method="post" action="/notes">

<div style="width: 1120px; margin-left:30px; background-color: #eee; padding: 20px 10px; border: solid 1px #ddd">
	<div style="width:210px;margin-right:20px;float:left;">
		<%= render "manual" %>
		<br/>
	
		<strong><a href="javascript:" style='color:blue' onclick="addExample()">How this works</a></strong>
	</div>
    
		<div style="width:400px;float:left">
			<textarea placeholder="Enter your math note..." style="width:380px;min-height:400px" name="note[content]" id="codearea"></textarea>

			<br/> <br/>
			<button type="submit" id="save_button" class="primary btn">Create Note</button> &nbsp;
			<a href="javascript:" style='color:blue' onclick="clearInput()">Clear</a> 

		</div>
		<div style="float:left">
			<div class="render_area" id="preview_div"></div>
		</div>
		<br clear='all' />
</div>

</form>




<textarea id="example" style="display:none">TexPaste provides an online LaTex editor that could be used to facilitate sharing of math notes.

Wrap inline equation in a pair of single dollar signs $\$$ ...  $\$$ : $ x_n = \sqrt{a + b} $ and you can continue writing on the same line.

A more complicated equation should be wrapped in a pair of double dollar signs:
$$
i\hbar\frac{\partial \psi}{\partial t}
  = \frac{-\hbar^2}{2m} \left(
    \frac{\partial^2}{\partial x^2}
    + \frac{\partial^2}{\partial y^2}
    + \frac{\partial^2}{\partial z^2}
  \right) \psi + V \psi.
$$

Some features supported by this editor are listed below. Here is an example of an aligned equation:
$$
\begin{align*} 
1+\tan^2 x & = 1+ \frac{\sin^2 x}{\cos^2 x} \\ 
&= \frac{\sin^2 x +\cos^2 x }{\cos^2 x} \\ 
&= \frac{1}{\cos^2 x} \\ 
&= \sec^2 x.
\end{align*}
$$
And this is an example of a piecewise function:
$$
f(x) = 
\begin{cases} 
1                           & \text {if $x=1$} \\
1+x+x^2+\cdots   & \text{if $x = 0$} \\ 
\dfrac{1}{1-x}        & \text{if $x = -1$} \\
\text{undefined}    & \text{otherwise} \\  
\end{cases} 
$$
Matrix is another commonly used math object:
$$
 \begin{pmatrix}
a_{1,1} & a_{1,2} & \cdots & a_{1,n} \\
a_{2,1} & a_{2,2} & \cdots & a_{2,n} \\
\vdots  & \vdots  & \ddots & \vdots  \\
a_{m,1} & a_{m,2} & \cdots & a_{m,n}
\end{pmatrix} 
$$
To create tables, you can use 'array' environment as followed:
$$
\begin{array}{ccc}
\text{time} & 0 &  t_1\\
\hline
\text{long } F_1 \text{-contract} & 0 & S_1-F_1 \\
\text{short } F_2 \text{-contract} & 0 & (F_1-F_{1,2})e^{-r(t_2-t_1)} \\
\hline
\text{total} & 0 & (F_1-F_{1,2})e^{-r(t_2-t_1)} +S_1-F_1
\end{array}
$$</textarea>
