<!--
<div class='alert-message alert-info' style="width:800px; margin:0 auto">
	TexPaste is a simple way to create and share Latex-based math notes with others.
</div>
-->
<%= render "form" %>

<textarea id="example" style="display:none"><%= render "text_howitworks" %></textarea>


<script type="text/javascript">
  setTimeout(function () {
    var a = document.createElement("script");
    var b = document.getElementsByTagName("script")[0];
    a.src = document.location.protocol + "//dnn506yrbagrg.cloudfront.net/pages/scripts/0018/6366.js?" + Math.floor(new Date().getTime() / 3600000);
    a.async = true;
    a.type = "text/javascript";
    b.parentNode.insertBefore(a, b)
  }, 1);
</script>
