<script language="javascript">

function render() {
	var text = $("#codearea").val();
		text = convertTextToMathJaxReady(text);
		$("#preview_div").html(text);
		MathJax.Hub.queue.Push(["Typeset", MathJax.Hub, "preview_div"]);
}

$(function () {
	$("#codearea").keyup(render);	
});

function addExample() {
	var s = "Consider the Euler's equation:\n\n$ e^{i\\pi} + 1 = 0$";
	$("#codearea").val(s);
	render();
}

</script>

<br/> <br/>

<div class='alert-message alert-info' style="width:800px; margin:0 auto">
	TexPaste is a simple way to create and share Latex-based math notes with others.
</div>
<br/>

<form method="post" action="/notes">

<div style="width: 810px; margin: 0 auto; background-color: #eee; padding: 20px 10px; border: solid 1px #ddd">
	<div>
		<div style="width:350px;float:left">
			<textarea style="width:350px;height:200px" name="note[content]" id="codearea"></textarea>
			<br/><br/>
			<a href="#" onclick="addExample()">Example</a> <br/>

			<br/> <br/>
			<button type="submit" id="save_button" class="primary btn">Create Note</button>

		</div>
		<div style="float:left">
			<div style="width:350px;background-color:white" id="preview_div"></div>
		</div>
		<br clear='all' />
	</div>
</div>

</form>