<div class='container row about'>
  <div class='col-md-7'>
    <h3>TexPaste - Pastebin for Mathematicians</h3>

    <p>Inspired by <a href='http://jsbin.com' target="_blank">JSBin</a> and
      <a target="_blank" href='http://pastebin.com/'>Pastebin</a>, I created TexPaste to help people share math formulae
      easier with their peers.</p>

    <p>For LaTeX beginners, it's also meant as a tool for them to learn the LaTeX syntax without having to go through
      the
      nuance of setting it up.</p>

    <p>Built with Ruby on Rails, hosted on Heroku, MathJax Rendering Engine.</p>

    <h3>Frequently Asked Questions</h3>

    <strong>Who created TexPaste?</strong>

    <p>My name is Huy Nguyen. You can find me on
      <a target="_blank" href="http://sg.linkedin.com/pub/huy-nguyen/8/2a/413">LinkedIn</a>,
      <a target="_blank" href="http://twitter.com/iamhuy">Twitter</a> and
      <a target="_blank" href="https://github.com/nvquanghuy/">Github</a>.</p>

    <strong>How is the idea born?</strong>

    <p>The idea is born out a discussion with my friend Nguyen Hai My. Back then he and his friends were trying to work
      on
      some Education platform, and Math rendering is a part of it. So I take that idea and marry it with Pastebin to
      make
      TexPaste.</p>

    <p>Tran Minh Luan (who worked together with Hai My) contributed the first version of JS rendering engine.</p>

    <b>How long do you store my notes?</b>

    <p>Your notes will never be deleted.</p>

    <strong>Is it open source?</strong>

    <p>Yes, you can find it here:
      <a href="https://github.com/nvquanghuy/texpaste" target="_blank">https://github.com/nvquanghuy/texpaste</a></p>

    <strong>I like the project, how can I help?</strong>

    <p>Feel free to give suggestions in the comments section. Or even better, submit pull requests!</p>

    <p>Like most people, I have a full time job so it'd take a while for me to respond to your comments.</p>
  </div>
  <div class='col-md-5'>
    <div id="disqus_thread"></div>
    <script type="text/javascript">
      /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
      var disqus_shortname = 'texpaste'; // required: replace example with your forum shortname

      /* * * DON'T EDIT BELOW THIS LINE * * */
      (function () {
        var dsq = document.createElement('script');
        dsq.type = 'text/javascript';
        dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
    </script>
    <noscript>Please enable JavaScript to view the
      <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
  </div>
</div>