/*
 *= require bootstrap
 *= require_self
 *= require_tree .
*/

html, body {
  height: 100%;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

#footer {
  height: 40px;
  margin-top: 20px;
  padding-top: 10px;
  border-top: 1px #C7DFFF solid;
  padding-left: 20px;
}

.navbar-inverse {
  background-color: #4679bd;
  border: 0;
  border-radius: 0;

  .navbar-header {
    .navbar-brand {
      a, a:visited {
        color: #fff;
      }

      span {
        display: inline-block;
        margin-left: 10px;
        font-size: 80%;
        color: #fff;
      }
    }
  }

  .navbar-nav {
    li {
      a, a:visited {
        color: #fff;
      }
      a:hover {
        text-decoration: underline;
      }
    }
  }
}

.container-left {
  margin-left: 0;
}

.btn, .form-control {
  border-radius: 2px;
}

.shadow {
  box-shadow: 0 2px 2px #bababa;
  -moz-box-shadow: 0 2px 2px #bababa;
  -webkit-box-shadow: 0 2px 2px #bababa;
}

.content-box {
  background-color: white;
  width: 900px;
  margin: 0 auto;
  padding: 4px;
}

#topbar {
  position: relative;
  z-index: 100;
}

#codeinput_textarea {
  height: 200px;
}

#new_question_lightbox {
  margin: 0 auto;
  width: 810px;
  background-color: white;
  vertical-align: middle;
  border-radius: 10px;
  border: 1px solid black;
  padding: 30px 0px 30px 50px;
}

#preview_div {
  height: 400px;
  overflow: auto;
}

#manual {
  background: white;
  height: 470px;
  overflow: auto;
  padding: 5px;

  h5 {
    clear: both;
    cursor: pointer;
  }
}

#manual ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: block;
}

#manual ul li textarea {
  display: none;
}

#manual ul li {
  width: auto;
  float: left;
  border: 1px solid #ccc;
  padding: 5px;
  display: block;
  margin: 10px 5px 10px 3px;
  cursor: pointer;
}

#manual ul li:hover {
  background-color: #eee;
  cursor: pointer;
}

.link {
  background-color: white;
  border: 1px solid #ccc;
  padding: 5px;
  cursor: pointer;
}

ul.notes li {
  list-style-type: none;
  margin: 0;
  padding: 3px 0 3px 20px;
  font-size: 12px;
  color: #999;
  border-bottom: 1px solid #DDD;
  background: url(paste.png) 0px 4px no-repeat;
}

.note {
  margin: 0 0 10px 0;
  border: 1px solid #D9D9D9;
  background: whiteSmoke;
}

.note .meta {
  padding: 7px 10px;
  background: #E9E9E9;
  color: #666;
  font-size: 12px;
  border-bottom: 1px solid #D9D9D9;
}

.note .data {
  padding: 10px;
  overflow: auto;
  background-color: ghostWhite;
}

.form-auth {
  max-width: 330px;
}