/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require note
*/

.shadow {
  box-shadow: 0 2px 2px #bababa;
  -moz-box-shadow: 0 2px 2px #bababa;
  -webkit-box-shadow: 0 2px 2px #bababa;
}

.content-box {
    background-color: white;
    width: 900px;
    margin: 0 auto;  
    padding: 4px;
}

#topbar {
    position: relative;
    z-index: 100;
}

#lightbox_overlay {
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    position: fixed;
    z-index: 1000;
}

#codeinput_textarea {
    height: 200px;
}

#new_question_lightbox {
    margin: 0 auto;
    width: 810px;
    background-color: white;
    vertical-align: middle;
    border-radius: 10px;
    border: 1px solid black;
    padding: 30px 0px 30px 50px;
}


.render_area {
  background-color: white;
  border: 1px solid #bbb;
  border-radius: 5px;
  padding: 6px;
  min-height: 400px;
  line-height: 140%;
  width: 450px;
}

#render_div {
}

#preview_div {
    height: 400px;
    overflow: auto;
    margin-left: 10px;
}

#manual {
    background: white;
    height: 400px;
    overflow: auto;
    margin-right: 10px;
}
#manual h4 {
    clear: both;
}
#manual ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: block;
}
#manual ul li textarea {
    display:none;
}
#manual ul li {
    width: auto;
    float: left;
    border: 1px solid #ccc;
    padding: 5px;
    display: block;
    margin: 10px 5px 10px 3px;
    cursor: pointer;
}
#manual ul li:hover {
    background-color: #eee;
    cursor: pointer;
}

.link {
    background-color: white;
    border: 1px solid #ccc;
    padding: 5px;
    cursor: pointer;
}