/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self

 *= require_tree .
 *= require note
*/

#main {
  background: url("https://a248.e.akamai.net/assets.github.com/images/gist/header/background-v2.png?52494096") repeat-x scroll 0 -17px white;
  height: auto !important;
  margin: 0 auto -8.6em;
  min-height: 100%;
}

#header {
  height: 80px;
  margin-bottom: 10px;
  width: auto;
}
#header .logo {
  float: left;
  margin-top: 10px;
}
#header .logo h1 {
  margin-bottom: 0;
}
#header .logo div {
  
}

#header .userbox {
  float: right;
  font-size: 16px;
  padding: 15px 5px 7px 10px;
}

.site {
  margin: 0 auto;
  min-width: 920px;
  overflow: hidden;
  padding: 0 3em;
  text-align: left;
}

.shadow {
  box-shadow: 0 2px 2px #bababa;
  -moz-box-shadow: 0 2px 2px #bababa;
  -webkit-box-shadow: 0 2px 2px #bababa;
}

.content-box {
    background-color: white;
    width: 900px;
    margin: 0 auto;  
    padding: 4px;
}

#topbar {
    position: relative;
    z-index: 100;
}

#codeinput_textarea {
    height: 200px;
}

#new_question_lightbox {
    margin: 0 auto;
    width: 810px;
    background-color: white;
    vertical-align: middle;
    border-radius: 10px;
    border: 1px solid black;
    padding: 30px 0px 30px 50px;
}


.render_area {
  background-color: white;
  border: 1px solid #bbb;
  border-radius: 5px;
  padding: 6px;
  min-height: 400px;
  line-height: 140%;
  width: 450px;
}

#render_div {
}

#preview_div {
    height: 400px;
    overflow: auto;
    margin-left: 10px;
}

#manual {
    background: white;
    height: 400px;
    overflow: auto;
    margin-right: 10px;
}
#manual h4 {
    clear: both;
}
#manual ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: block;
}
#manual ul li textarea {
    display:none;
}
#manual ul li {
    width: auto;
    float: left;
    border: 1px solid #ccc;
    padding: 5px;
    display: block;
    margin: 10px 5px 10px 3px;
    cursor: pointer;
}
#manual ul li:hover {
    background-color: #eee;
    cursor: pointer;
}

.link {
    background-color: white;
    border: 1px solid #ccc;
    padding: 5px;
    cursor: pointer;
}

ul.notes {

}

ul.notes li {
  list-style-type: none;
  margin: 0;
  padding: 3px 0 3px 20px;
  font-size: 12px;
  color: #999;
  border-bottom: 1px solid#DDD;
  background: url(paste.png) 0px 4px no-repeat;
}

.note {
  margin: 0 0 10px 0;
  border: 1px solid #D9D9D9;
  background: whiteSmoke;
}
.note .meta {
  padding: 7px 10px;
  background: #E9E9E9;
  color:#666;
  font-size: 12px;
  border-bottom: 1px solid #D9D9D9;
}

.note .data {
  padding: 10px; 
  overflow: auto;
  background-color: ghostWhite;
}

.right {
  float: right;
}

#codearea {
  color: #000 !important;
  font: Helvetica 9pt;
}