// Place all the styles related to the Notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.render_area {
  background-color: white;
  border: 1px solid #bbb;
  border-radius: 5px;
  padding: 6px;
  min-height: 400px;
  line-height: 140%;
  width: 450px;
}
