.cheatsheet {
  border: solid 1px #ddd;
  background-color: #eee;
  padding: 5px;
}

.editor-wrapper {
  background-color: #eee;
  padding: 10px 10px;
  border: solid 1px #ddd;

  input.title {
    width: 300px;
  }

  #codearea {
    color: #000;
    background-color: #fff;
    width: 100%;
    min-height: 400px;
    resize: vertical;
    font-size: 13px;
    padding: 5px;
  }
}

.render {
  background-color: white;
  padding: 3px;
  min-height: 400px;
  line-height: 140%;
  width: 100%;
  font-size: 12px;
}

.render-preview {
  border: 1px solid #bbb;
  border-radius: 2px;
}

.render-show {
  font-size: 13px;
}

.share-note {
  width:100%;
  font-size: 12px;
}